<section class="home-section" id="home">
  <div class="content-wrapper">
    <div class="text-content">
      <img class="logo" src="https://rrtiffencenter.my.canva.site/_assets/media/2339473921c68496c25a90739bbc96da.png" alt="Sri RR Tiffen Center Logo">
      <h1>Welcome to SRI RR<br>TIFFEN CENTER</h1>
      <p>South Indian Breakfast in the Heart of<br>Chennai</p>
    </div>
    <div class="image-content">
      <img src="https://rrtiffencenter.my.canva.site/_assets/media/275c454794bdf1f91dd3dec908435ceb.png" alt="South Indian Food">
    </div>
  </div>
</section>
